repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/python-poetry/poetry
    rev: '2.3.2'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    # -   id: poetry-export
    -   id: poetry-install
- repo: local
  hooks:
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [python]
